@media screen and (min-width: 641px) {
  #mapContainer{
    width: 608px;
    height: 454px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:block;
    padding:10px;
  }
}

@media screen and (max-width: 640px) {
  #mapContainer{
    width: 100%;
    height: 400px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:block;
    padding:10px;
  }
}


#choosenRoute{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display:block;
  padding:10px;
}

h3, h4{
  font-size: 1rem;
}

@media screen and (min-width: 751px) {
  .ifMap{
    height:510px;
    width:700px;
    border:none;
  }
}

@media screen and (max-width: 750px) {
  .ifMap{
    height:500px;
    width:100%;
    border:none;
  }
}

table{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding:10px;
}

th,td{
  padding:0.35rem;
}

table.niceTable{
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width:45%;
}

table.niceTable th {
  color: white;
  background-color: #292b2c;
}

table.niceTable tr:nth-child(odd) {
  background-color: #dddddd;
}
